@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-green: #006667;
    --color-green-background: #B2D1D1;
    --color-oragne: #FF8367;
    --color-oragne-background: #FFDAD1;
    --color-darkblue: #363A59;
    --color-darkblue-background: #C3C4CD;
    --color-yellow: #FFD600;
    --color-yellow2: #FFBC00;
    --color-yellow-background: #fff3b2ac;
    --color-neutral-0: #FAFAFA;
    --color-neutral-10: #F5F5F5;
    --color-neutral-20: #DEDEDE;
    --color-neutral-40: #AEAEAE;
    --color-neutral-50: #9A9A9A;
    --color-neutral-90: #1D1A20;
}

body{
    min-height: 100vh;
    background-color: var(--color-neutral-10);
}



/* formulario de crear cuenta */
.singUpView{
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    margin-top: 120px;
    text-align: center;
    border-radius: 41px 41px 0px 0px;
    padding: 0 20px 50px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.singUpView > div:nth-of-type(1){
    transform: translateY(-50%);
    background-color: var(--color-neutral-0);
    width: fit-content;
    margin: auto;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: -40px;
}
.singUpView h1{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.singUpView h1 + p{
    font-size: 1em;
    color: var(--color-neutral-90);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.singUpView h1 + p span{
    /* color: var(--color-green);
    font-weight: 600;
    cursor: pointer; */
    font-size: 0;
    width: 70px;
    display: inline-block;
    height: 20px;
    /* border: 1px solid var(--color-green); */
    background-image: url(/public/img/logohorizontal1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;

}

.singUpView form, .addNewPetForm{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
}

/* .singUpView form input, .addNewPetForm input{ */
input, select, textarea{
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-neutral-40);
    padding: 0 10px;
    font-size: 1em;
    transition: all 0.2s ease;
}

textarea{
    height: auto;
    resize: none;
    padding: 10px;
}

/* .singUpView form > div:nth-of-type(1){
    text-align: left;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap : 10px;
    color: var(--color-neutral-50);
    margin-bottom: 10px;
} */

/* .singUpView form > div:nth-of-type(1) a{
    color: var(--color-neutral-50);
    font-weight: 600;
} */
/* 
.singUpView form > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.singUpView form div{
    padding-top: 0 !important;
}

.singUpView form div:last-of-type{
    padding-top: 10px !important;
    text-align: center;

}


.btn, button{
    border: 1.5px solid var(--color-green);
    background-color: var(--color-green);
    color: var(--color-neutral-0);
    transition: all 0.2s ease;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    min-width: min-content;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
}

.btn.small, button.small{
    padding: 5px 12px;
    font-size: 0.9em;
    font-weight: 300;
}

.btn:hover, button:hover{
    background-color: #006567c4;
}

button[disabled] {
    background-color: var(--color-neutral-20);
    color: var(--color-neutral-0);
    cursor: not-allowed;
    border-color: var(--color-neutral-20);
}

.btn.secundary{
    background-color: var(--color-neutral-0) !important;
    color: var(--color-green) !important;
    border-color: var(--color-green) !important;
}

.btn.secundary:hover{
    background-color: var(--color-neutral-20) !important;
    /* color: var(--color-neutral-0) !important; */
}


form label + p {
    font-size: 0.9em;
    margin: 0;
    color: var(--color-neutral-50);
    font-weight: 300;
}

form > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    text-align: left;
}

.errorInput{
    color: red;
    font-size: 0.9em;
    margin-top: -8px;
    text-align: left;
}