@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-green: #006667;
    --color-green-background: #B2D1D1;
    --color-oragne: #FF8367;
    --color-oragne-background: #FFDAD1;
    --color-darkblue: #363A59;
    --color-darkblue-background: #C3C4CD;
    --color-yellow: #FFD600;
    --color-yellow2: #FFBC00;
    --color-yellow-background: #fff3b2ac;
    --color-neutral-0: #FAFAFA;
    --color-neutral-10: #F5F5F5;
    --color-neutral-20: #DEDEDE;
    --color-neutral-40: #AEAEAE;
    --color-neutral-50: #9A9A9A;
    --color-neutral-90: #1D1A20;
}

body{
    min-height: 100vh;
    background-color: var(--color-neutral-10);
}