@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-green: #006667;
    --color-green-background: #B2D1D1;
    --color-oragne: #FF8367;
    --color-oragne-background: #FFDAD1;
    --color-darkblue: #363A59;
    --color-darkblue-background: #C3C4CD;
    --color-yellow: #FFD600;
    --color-yellow2: #FFBC00;
    --color-yellow-background: #fff3b2ac;
    --color-neutral-0: #FAFAFA;
    --color-neutral-10: #F5F5F5;
    --color-neutral-20: #DEDEDE;
    --color-neutral-40: #AEAEAE;
    --color-neutral-50: #9A9A9A;
    --color-neutral-90: #1D1A20;
    --color-green-50: #ecfffd;
    --color-green-100: #bdffff;
    --color-green-200: #7bfeff;
    --color-green-300: #31fbff;
    --color-green-400: #00fffb;
    --color-green-500: #00ede1;
    --color-green-600: #00bfbb;
    --color-green-700: #009796;
    --color-green-800: #007677;
    --color-green-900: #006667;
    --color-green-950: #003a3d;
}

body{
    min-height: 100vh;
    background-color: var(--color-neutral-10);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.link{
    color: var(--color-green);
    cursor: pointer;
    transition: all 0.2s ease;
}

.link:hover{
    text-decoration: underline;
}


/* authHome */
.authHome{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    text-align: center;
    background-image: url(/public/img/pattern2.svg);
    background-color: var(--color-neutral-0);
}

.authHome h1{
    font-size: 1.1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
}

.authHome h1 span{
    font-size: 0;
    width: 160px;
    height: 39px;
    display: block;
    background-image: url(/public/img/logohorizontal2.svg);
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.authHome h1 + p {
    padding: 0 10px;
    font-size: 1em;
    font-weight: 300;
    max-width: 250px;
}

.authHome img{
    width: 100%;
    max-width: 200px;
    margin: 20px 0;
}

.authHome div:last-of-type{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

.authHome div:last-of-type p{
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 16px;
}

.authHome div:last-of-type a:last-of-type{
    color: var(--color-darkblue);
    text-decoration: underline;
    font-size: 0.95em;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.authHome div:last-of-type a:last-of-type:hover{
    color: var(--color-green);
}






/* formulario de crear cuenta */
.singUpBackground{
    background-color: var(--color-green);
    background-image: url(/public/img/pattern1.svg);
    position: relative;
    min-height: 100vh;
    height:max-content;
}

.singUpView{
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    margin-top: 120px;
    text-align: center;
    border-radius: 41px 41px 0px 0px;
    padding: 0 20px 50px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.singUpView > div:nth-of-type(1){
    transform: translateY(-50%);
    background-color: var(--color-neutral-0);
    width: fit-content;
    margin: auto;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: -40px;
}
.singUpView h1{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.singUpView h1 + p{
    font-size: 1em;
    color: var(--color-neutral-90);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.singUpView h1 + p span{
    font-size: 0;
    width: 70px;
    display: inline-block;
    height: 20px;
    background-image: url(/public/img/logohorizontal1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}

.singUpView form, .addNewPetForm{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    /* gap: 10px; */
}

/* .singUpView form input, .addNewPetForm input{ */
input, select, textarea{
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-neutral-40);
    padding: 0 10px;
    font-size: 1em;
    transition: all 0.2s ease;
}


input.error, select.error, textarea.error{
    border-color: red;
}

textarea{
    height: auto;
    resize: none;
    padding: 10px;
}

.singUpView form div{
    padding-top: 0 !important;
}

.singUpView form div:last-of-type{
    padding-top: 10px !important;
    text-align: center;
}

.singUpView form div:last-of-type a{
    color: var(--color-darkblue);
    text-decoration: underline;
    cursor: pointer;
}

.singUpView h2{
    /* font-size: 1.2em; */
    font-weight: 400;
    color: var(--color-neutral-90);
    margin-bottom: 10px;

}

.singUpView .steps{
    font-size: 0.9em;
    color: var(--color-neutral-50);
    /* text-align: right; */
}




/* botones */
.btn{
    border: 1.5px solid var(--color-green);
    background-color: var(--color-green);
    color: var(--color-neutral-0);
    transition: all 0.2s ease;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    min-width: min-content;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
}

.btn.small, button.small{
    padding: 5px 12px;
    font-size: 0.9em;
    font-weight: 300;
}

.btn:hover, button:hover{
    background-color: #006567c4;
}

button[disabled] {
    background-color: var(--color-neutral-20);
    color: var(--color-neutral-0);
    cursor: not-allowed;
    border-color: var(--color-neutral-20);
}

.btn.secundary{
    background-color: var(--color-neutral-0) !important;
    color: var(--color-green) !important;
    border-color: var(--color-green) !important;
}

.btn.secundary:hover{
    background-color: var(--color-green-700) !important;
    color: var(--color-neutral-0) !important;
}


form label + p {
    font-size: 0.9em;
    margin: 0;
    color: var(--color-neutral-50);
    font-weight: 300;
}

form > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    text-align: left;
}

form .btn{
    text-align: center;
}

.errorInput{
    color: red;
    font-size: 0.9em;
    margin-top: -8px;
    text-align: left;
}

/* mostrar y ocultar contraseña */
.pswdInput {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -10px;
  }
  
.pswdInput input {
    flex: 1;
    padding-right: 40px;
}

.pswdInput i {
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 1.2em;
    color: var(--color-neutral-50);
    transition: all 0.2s ease;
}

.pswdInput i:hover{
    color: var(--color-green);
}
  






/* top nav bar */
.topNavBar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 90;
    background-color: var(--color-neutral-10);
    gap: 16px;
}

.topNavBar > div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
}

.logoLabelTopBar{
    flex: 1;
}

.logoLabelTopBar.noRightIcon{
    padding-right: 56px;
}

.topNavBar i{
    font-size: 1.5em;
    color: var(--color-neutral-50);
    cursor: pointer;
    transition: color 0.2s ease;
}

.topNavBar i:hover{
    color: var(--color-green);
}

/* texto o titulo que se muestra en el top nav bar */
.topNavBar h1.label{
    font-size: 1.3em;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    color: var(--color-darkblue);
}




/* Sidebar */
.sidebar svg{
    fill: var(--color-neutral-90);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
    transition: background-color 0.5s ease;
    transform: translateX(-100%);
}

.sidebar.show {
    /* transform: translateX(0); */
    background-color: #1d1a208a;
}

.sidebar nav{
    position: relative;
    width: 75%;
    min-width: 250px;
    max-width: 600px;
    height: 100%;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    padding: 30px;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.sidebar nav.show{
    transform: translateX(0);
}
.sidebar .sniffNearLogotipo{
    margin-bottom: 30px;
}

/* iconos del sidebar */
.sidebar nav ul svg, .sidebar nav ul a {
    fill: var(--color-neutral-50);
    color: var(--color-neutral-50);
}
.sidebar nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar nav ul li{
    position: relative;
    font-size: 1em;
    transition: all 0.2s ease;
    cursor: pointer;
}

.sidebar nav ul a{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.sidebar nav ul li:hover{
    margin-left: 10px;
}

.sidebar li:hover a, .sidebar li:hover svg, .sidebar li a.active, .sidebar li a.active svg{
    fill: var(--color-green);
    color: var(--color-green);
}

.sidebar .closebtn{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: large;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sidebar .closebtn:hover{
    transform: scale(1.2);
    color: var(--color-oragne);
}

.sidebar nav ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-green);
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.25s;
}

.sidebar nav ul li:hover::before{
scale: 1;
transform-origin: left;
}

.sidebarLogInBtn{
    margin-top: 20px;
}






/* estilos del bottom nav bar */
.bottomNavBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-green-800);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.bottomNavBar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.bottomNavBar ul li{
    height: 60px;
    flex: 1;
    text-align: center;
    line-height: 60px;
    font-size: 1.6em;
    transition: all 0.2s ease;
    cursor: pointer;
}


.bottomNavBar ul li.plusBtn button{
    font-size: 2em;
    transition: all 0.2s ease;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    transform: translateY(-20%);
    color: var(--color-green-700);
    cursor: pointer;
    border: 2px solid transparent;
}

.bottomNavBar ul li.plusBtn button:hover{
    transform: translateY(-30%) scale(1.1);
    color: var(--color-green);
    border: 2px solid var(--color-green);
}

/* .bottomNavBar ul li:nth-of-type(2) a{
    color: var(--color-neutral-0);
} */

.bottomNavBar ul li a{
    transition: all 0.2s ease;
    color: var(--color-neutral-20);
    position: relative;
    display: inline-block;
}

.bottomNavBar ul li:not(.plusBtn) a{
    min-width: 80%;
}

.bottomNavBar ul li:hover a{
    transform: translateY(-5px) scale(1.1) ;
    color: var(--color-neutral-0);
}

.bottomNavBar ul li:hover a.active, .bottomNavBar ul li a.active {
    color: var(--color-neutral-0);
}

.bottomNavBar ul li:not(.plusBtn) a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 6px;
    background-color: var(--color-neutral-0);
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.25s;
}

.bottomNavBar ul li:not(.plusBtn) a.active::before{
scale: 1;
transform-origin: left;
}

.bottomNavBar ul li:hover a.active::before{
    scale: 0 1;
}

.bottomNavBar ul li:not(.plusBtn) a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 50%;
    height: 2px;
    background-color: var(--color-neutral-0);
    transform: scaleX(0);
    transform-origin: center; 
    transition: transform 0.25s; 
}

.bottomNavBar ul li:not(.plusBtn):hover a.active::after {
    transform: scaleX(1) translateX(-50%); 
}

/* estilos de las opciones del boton "más" del bottom nav bar */
.plusOptionsContainer{
    align-items: flex-end !important;
}

.plusOptions{
    background-color: var(--color-neutral-0);
    width: 100%;
    padding: 30px;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plusOptions h2{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--color-green);
    margin-bottom: 20px;
}

.plusOptions > div{
    display: flex;
    gap: 6px;
    /* align-items: center; */
    justify-content: space-between;

}
.plusOptions > div a{
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    color: var(--color-darkblue);
    transition: all 0.2s ease;
}

.plusOptions > div a:hover{
    background-color: var(--color-green-background);
}








/* Home */
main{
    padding: 20px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main.fullHeight{
    min-height: 90vh;
    padding: 20px;
}

main h1, main h2, h3{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--color-neutral-90);
    margin: 8px 0 14px 0;
}

h3{
    font-weight: 400;
}

/* secciones del main */
/* main section{
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    padding: 16px;
    border-radius: 8px;
} */


.welcomeCard{
    display: flex;
    gap: 15px;
    align-items: center;
}

.welcomeCard{
    background-color: var(--color-green);
}

.welcomeCard img{
    width: 70px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover; 
}

.welcomeCard h1{
    margin-bottom: 2px;
    color: var(--color-neutral-0);
}

.welcomeCard p{
    font-size: 0.9em;
    color: var(--color-neutral-20);
}

.welcomeCard2{
    /* border: 2px solid var(--color-darkblue); */
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px #00656736;
}

.welcomeCard2 > div{
    padding-right: 150px;
    background: url(/public/img/littlecat1.png) no-repeat right;
    background-size: 130px ;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 425px;
}

.welcomeCard2 h1{
    color: var(--color-darkblue);
    margin-bottom: 10px;
}

.welcomeCard2 p{
    color: var(--color-darkblue);
    font-size: 0.9em;
    margin-bottom: 16px;
}




/* input para cargar imagen */
#imgUrl{
    display: none;
}

.labelImgInput{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background-color: var(--color-neutral-0);
    border: 2px dashed var(--color-neutral-20);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    margin: 20px auto;
    gap: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
    position: relative;
}

.labelImgInput .loadLabel{
    color: var(--color-neutral-50);
}

.labelImgInput svg, .labelImgInput .loadLabel{
    transition: all 0.2s ease;
}

.labelImgInput:hover{
    border-color: var(--color-green);
}

.labelImgInput:hover svg{
    transform: scale(1.1);
}

.labelImgInput:hover .loadLabel{
    color: var(--color-green);
}

.labelImgInput + p{
    width: 100%;
    margin: 0 auto 30px auto;
    color: var(--color-neutral-50);
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.labelImgInput + p:hover{
    color: var(--color-oragne);
    scale: 1.04;
    font-weight: 400;
}

.labelImgInput .editIcon{
    background-color: #0065676b;
    width: 100%;
    color: var(--color-neutral-0);
    position: absolute;
    bottom: 0px;
    padding: 5px;
    font-size: 0.8em;
    transition: all 0.1s ease;
    font-weight: 300;
}

.labelImgInput:hover .editIcon{
    /* height: 100%; */
    background-color: #006567;
    font-weight: 400;
}

.labelImgInput .editIcon span{
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}



/* estilos del loader */
.loadingBackground, .plusOptionsContainer, .modalBackground{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1a208a;
    z-index: 500;
}

.loadingContainer{
    background-color: var(--color-neutral-0);
    padding: 20px 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.loadingContainer p {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    max-width: 130px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bouncer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100px;
    height: 100px;
}

.bouncer div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-green);
    animation: bouncer 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}

.bouncer div:nth-child(2){
    animation-delay: 0.1s;
    opacity: 0.8;
}
.bouncer div:nth-child(3){
    animation-delay: 0.2s;
    opacity: 0.6;
}
.bouncer div:nth-child(4){
    animation-delay: 0.3s;
    opacity: 0.4;
}


@keyframes bouncer {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(-70px);
    }
}


/* pagina de usuario */
.accountView > section:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px;
    text-align: center;

}

.accountView > section:first-of-type img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.accountView > section:first-of-type > div h1{
    text-transform: capitalize;
    font-size: 1.5em;
    margin-bottom: 0px;
}

.accountView > section:first-of-type > div h1 + p{
    font-size: 1em;
    color: var(--color-neutral-90);
    margin-bottom: 20px;
}



/* lista de mascotas */
.petsList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.petsList li{
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 16px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: var(--color-neutral-0);
    transition: all 0.2s ease;
    cursor: pointer;
}

.petsList li:hover{
    background-color: var(--color-green-700);
    color: var(--color-neutral-0);
}
.petsList li > div{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s ease;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.petsList li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
}

.petsList li:hover img{
    transform: scale(1.1);
}

.petsList li p{
    flex: 1;
}







/* estilos del marcador de pasos en formularios */

.multiStepsIndicators{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.multiStepsIndicators svg.active{
    fill: var(--color-oragne);
}


.multiSteps{
    flex: 1;
    display: flex;
    flex-direction: column;
}


.hiddenLabel{
    display: none;
}


.petTypeSelector{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
}

.petTypeSelector li{
    flex: 1 1 calc(50% - 40px);
}

.petTypeSelector li div{
    width: 100px;
    margin: auto;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    padding: 16px;
    color: var(--color-darkblue);
}

.petTypeSelector li div:hover{
    background-color: var(--color-neutral-20);
}


.petTypeSelector li div.selected{
    background-color: var(--color-green-background);
}


.multiSteps .actions{
    flex-direction: row;
}

.multiSteps .actions button{
    flex: 1;
    /* margin: 0 10px; */
}

.multiSteps h2{
    text-align: center;
    margin-bottom: 20px;
}

.multiSteps .step{
    flex: 1;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 6px 0; */
}

.inputContainer label{
    margin-top: 15px;
    display: inline-block;
}





.sexSelector{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.sexSelector li{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sexSelector li span, .sizeSelector li span{
    font-weight: 300;
    font-size: 0.9em;
    margin-top: 8px;
    color: var(--color-neutral-50);
}

.sexSelector li.selected svg{
    border: 2px solid var(--color-green);
    border-radius: 50%;
}

.sexSelector li.selected span, .sizeSelector li.selected span{
    color: var(--color-green);
    font-weight: 500;
}

.sizeSelector{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.sizeSelector li{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sizeSelector li > div{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.sizeSelector li svg{
    fill: var(--color-neutral-0);
    transition: all 0.1s ease;
}

.sizeSelector li:hover svg, .sizeSelector li.selected svg{
    transform: scale(1.1);
}
.sizeSelector li.selected svg{
    fill: var(--color-darkblue);
}


.colorInputs{
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.colorInputs li{
    cursor: pointer;
    color: var(--color-neutral-50);
    padding: 8px 12px;
    border: 1px solid var(--color-neutral-50);
    border-radius: 8px;
    transition: all 0.1s ease;
    text-transform: capitalize;
}

.colorInputs li:hover{
    background-color: var(--color-neutral-20);
    color: var(--color-darkblue);
}

.colorInputs li.selected {
    background-color: var(--color-darkblue);
    color: var(--color-neutral-0);
}



/* estilos del perfil de la mascota */
.petProfile{
    display: flex;
    flex-direction: column;
}
.petProfile img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.petProfile .data{
    /* background-color: var(--color-green);
    color: var(--color-neutral-0); */
    padding: 30px;
    border-radius: 25px;
    margin-top: -30px;
    background-color: var(--color-neutral-10);
    box-shadow: 0px -6px 10px rgba(0,0,0,0.1);

}

.petProfile .data .h{
    font-size: 2em;
    font-weight: 500;
    color: var(--color-green);
}

.petProfile .data .h + p{
    color: var(--color-darkblue);
}


.petDataList{
    display: flex;
    font-size: 0.8em;
    color: var(--color-neutral-50);
    gap: 10px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    text-align: center;
}

.petDataList li{
    flex: 1;
    display: flex;
    gap: 3px;
    flex-direction: column-reverse;
    border: 1px solid var(--color-neutral-20);
    padding: 20px 12px;
    border-radius: 8px;
}

.petDataList li span{
    font-weight: 500;
    color: var(--color-green);
    font-size: 1.2em;
    text-transform: capitalize;
}

.petProfile .data > div:first-of-type{
    padding: 20px 0;
    margin-top: -16px;

}

.petProfile .data > div:first-of-type.perro{
    background: url(/public/img/dog-illustration1.svg) no-repeat right;
    background-size: 100px ;
}

.petProfile .data > div:first-of-type.gato{
    background: url(/public/img/cat-illustration1.svg) no-repeat right;
    background-size: 100px ;
}

.petProfile .data .actions{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    text-align: center;
}


.myModal{
    background-color: var(--color-neutral-0);
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 10px;
    align-items: center;
}

.myModal .h{
    font-size: 1.3em;
    font-weight: 500;
    color: var(--color-green);
    margin-bottom: 10px;
}

.myModal .actions{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.myModal.danger .h{
    color: red;
}

.myModal.danger .btn{
    background-color: red;
    border-color: red;
    color: var(--color-neutral-0);
}

.myModal.danger .btn:hover{
    background-color: var(--color-oragne);
}